<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- ctsuom style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <header class="d-flex justify-content-center m-5">
        <h2 class="col-6 text-center">BOOLEAN TO DO LIST</h2>
      </header>

      <!-- INPUT -->
      <div class="text-iput d-flex justify-content-center">
        <div class="me-2 align-baseline">
          <input
            @keyup="removeErrorVisible"
            @keyup.enter="addToList"
            v-model.trim="toDo.whatToDo.text"
            type="text"
            class="form-control"
            id="to-do"
            placeholder="Cosa devi fare?"
          />
        </div>
        <button @click="addToList" class="btn btn-primary me-2">
          Aggiungi alla lista
        </button>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <small
          @click="removeErrorVisible"
          class="text-danger"
          v-show="errorVisible"
          >Il Todo non deve essere vuoto</small
        >
      </div>
      <!-- INPUT -->
      <!-- LIST -->
      <div class="list-container p-5 row justify-content-center">
        <ul class="list-group list-group-flush col-6 gap-1">
          <li
            v-if="lista.length !== 0 "
            role="button"
            v-for="(element,index) in lista"
            :key="index"
            class="list-group-item d-flex justify-content-between"
            :class="{'yellow': element.done === false, 'green': element.done }"
            @click="toDoDone(element.done,index)"
          >
            {{element.text}} {{ element.done === false ? ' Da fare!' : ' Fatto!'
            }}

            <span @click.stop="removeToDo(index)" role="button"
              ><i class="fa-solid fa-circle-xmark red"></i
            ></span>
          </li>
        </ul>
      </div>
      <!-- LIST -->
    </div>
    <!-- LUXON -->
    <script src="
    https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js
    "></script>
    <!-- MY SCRIPT -->
    <script src="js/script.js"></script>
  </body>
</html>
